<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>5</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>128</string>
	<key>ProductBuildVersion</key>
	<string>2A32</string>
	<key>ProjectName</key>
	<string>CoreGlyphsApp</string>
	<key>SourceVersion</key>
	<string>91000000000000</string>
</dict>
</plist>
